django
djangorestframework
meta-ai-api
torch
celery
mysqlclient
markdown
openpyxl
plotly
requests
selenium
beautifulsoup4
pillow
transformers
diffusers
matplotlib
seaborn
dash
pandas
numpy
python-dotenv
gunicorn
waitress
django-allauth
django-otp
stripe
django-anymail
django-password-reset
qrcode
django-newsletter
django-crispy-forms
django-recaptcha
pyotp
markdown
emoji
reportlab
PyPDF2
fpdf
pdfplumber
django-imagekit
django-storages
drf-yasg
tablib
django-import-export
weasyprint
python-magic
django-cleanup
django-chunk-upload
django-channels
scikit-learn
pytesseract
django-cacheops
django-seo
